/* Sequoia Sequoia Moonlight Dark for Homepage (gethomepage) custom CSS */
:root {
  --color-background: #0f1014;
  --color-background-highlight: #111216;
  --color-foreground: #868690;
  --color-muted: #575861;
  --color-primary: #ffbb88;
  --color-secondary: #f58ee0;
  --color-border: #57586133;
}
