/* Sequoia Sequoia Retro Light for Homepage (gethomepage) custom CSS */
:root {
  --color-background: #edeef2;
  --color-background-highlight: #e2e3e8;
  --color-foreground: #282930;
  --color-muted: #42434e;
  --color-primary: #8a6539;
  --color-secondary: #5f7982;
  --color-border: #42434e33;
}
